p {
      margin: 0 auto;
    }
    h1 {
      margin: 0 auto;
      width: 400px
    }
    h2 {
      margin: 0 auto;
    }
    h3 {
      margin: 0 auto;
    }
    h4{
      
    }
    
    .mainform{
      margin: 0 auto;width: 200px 
    }
   